name: Release

on:
  workflow_dispatch: # manual trigger

permissions:
  contents: write # releases
  packages: write # ghcr

env:
  REGISTRY_IMAGE_NAME: ghcr.io/chnapy/pkvault

jobs:
  version:
    name: Extract & check version
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.get-version.outputs.version }}
      tag: ${{ steps.compute.outputs.tag }}
      major_minor: ${{ steps.compute.outputs.major_minor }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Extract version from backend .csproj
        id: get-version
        uses: KageKirin/get-csproj-version@v0
        with:
          file: "./PKVault.Backend/PKVault.Backend.csproj"

      - name: Check if version already exist
        env:
          VERSION: v${{ steps.get-version.outputs.version }}
        run: |
          if git ls-remote --tags origin | grep -q "refs/tags/$VERSION"; then
            echo "❌ Error: version $VERSION already exist (tag)!"
            exit 1
          fi
          if gh release list | grep -q "$VERSION"; then
            echo "❌ Error: version $VERSION already exist (release)!"
            exit 1
          fi

      - name: Compute tag and major/minor
        id: compute
        run: |
          VERSION=${{ steps.get-version.outputs.version }}
          MAJOR_MINOR=${VERSION%.*}
          echo "tag=$VERSION" >> $GITHUB_OUTPUT
          echo "major_minor=$MAJOR_MINOR" >> $GITHUB_OUTPUT

  docker:
    name: Build & push monolith Docker image
    needs: version
    strategy:
      fail-fast: false
      matrix:
        include:
          - platform: linux/amd64
            runner: ubuntu-latest
          - platform: linux/arm64
            runner: ubuntu-24.04-arm
    runs-on: ${{ matrix.runner }}

    steps:
      - uses: actions/checkout@v4

      - name: Set image version
        run: |
          echo "TAG=${{ needs.version.outputs.tag }}" >> $GITHUB_ENV
          echo "MAJOR_MINOR=${{ needs.version.outputs.major_minor }}" >> $GITHUB_ENV

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push monolith image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          target: monolith
          platforms: ${{ matrix.platform }}
          push: true
          tags: |
            ${{ env.REGISTRY_IMAGE_NAME }}:${{ env.TAG }}
            ${{ env.REGISTRY_IMAGE_NAME }}:${{ env.MAJOR_MINOR }}
            ${{ env.REGISTRY_IMAGE_NAME }}:latest
          build-args: |
            VITE_SERVER_URL=http://localhost:3000
          cache-from: type=gha
          cache-to: type=gha,mode=max

  release:
    name: Create GitHub release
    needs: [version, docker]
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set image version
        run: |
          echo "TAG=${{ needs.version.outputs.tag }}" >> $GITHUB_ENV
          echo "VERSION=${{ needs.version.outputs.version }}" >> $GITHUB_ENV

      - name: Build Win64 desktop image & extract executable
        run: |
          docker build . --target desktop --build-arg RID=win-x64 -t tmp-desktop-win64
          docker create --name tmp-desktop-win64 tmp-desktop-win64
          docker cp tmp-desktop-win64:/app/PKVault.exe PKVault.exe

          docker rm tmp-desktop-win64
          docker rmi tmp-desktop-win64

          ls -la .

      - name: Build Linux64 desktop image & extract executable
        run: |
          docker build . --target desktop --build-arg RID=linux-x64 -t tmp-desktop-linux64
          docker create --name tmp-desktop-linux64 tmp-desktop-linux64
          docker cp tmp-desktop-linux64:/app/PKVault.AppImage PKVault.AppImage

          docker rm tmp-desktop-linux64
          docker rmi tmp-desktop-linux64

          ls -la .

      - name: Create tag
        env:
          VERSION: v${{ env.VERSION }}
        run: |
          git tag $VERSION
          git push origin $VERSION

      - name: Create release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: v${{ env.VERSION }}
          name: v${{ env.VERSION }}
          generate_release_notes: true
          files: |
            PKVault.exe
            PKVault.AppImage
